# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Local SVN
.svn

# generated docs
doxydoc

# Xcode files
*.xcwork*

bin/*

doc/iRobot_Roomba_500_Open_Interface_Spec.pdf

*.pdf

*.OLD

*.pdf

*.cmake

CMakeCache.txt

CMakeFiles/*

libroomberry/CMakeFiles/*
tests/CMakeFiles/*
tools/CMakeFiles/*

SRF02/*

tests/Makefile

tools/Makefile

libroomberry/Makefile

Makefile

*.db
